<html>
<head>
</head>

<body>
	<h1>Welcome {{username}}</h1>
	<h2>Post a Photo</h2>

	<form action="/postPhoto" method="POST" enctype="multipart/form-data">

		<input type="file" name = "upload" required/> </br>
		<input type="text" name = "caption" placeholder="Caption"> </br>
		</br> Viewable for Who? </br>
		<select name = "shared" required>
                    <option value = ""> --Please select an option-- </option>
                    <option value = "allFollowers"> All Followers </option>
                    {% for line in groups %}
                        <option value = {{line.groupName, line.groupCreator}}> {{line.groupName}} CREATED BY {{line.groupCreator}} </option>
                    {% endfor %}
                </select> </br> </br>
		<input type="submit" value = Upload /> </br>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}

		</br> </br>
		<a href="/home">Go Back</a>
		</br>
		<a href="/logout">Logout</a>

	</form>

</body>

</html>
